body {
    background: rgb(247, 232, 193);
  } 

  #picOfMe {
    align-content: center;
    margin: right;
    width: 700px;
    height: 700px;
  }

  #myname {
    color:rgb(198, 31, 31);
    background: rgb(201, 216, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  h2 {
    color:sienna;
    background: tan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

#firstp {
  color: rgb(96, 197, 220);
  background: rgb(26, 2, 48);
}
